body{
    color:#4C4952;
    background-color: #ECC9C7;
}
.thumb{
    display:none;
}
#submitButton,#surveyCard{
    display:none;
}
.card{
    /* background-color:#A34661; */
    margin-top: 50px;
    background-color: white;
}

#infoCard{
  margin-top: 50px;
  background-color:white;
}
.material-icons{
    color:#4C4952;
}

h3{
    color:#4C4952;
    vertical-align: text-bottom;
}
/* .card-content{
    opacity:1;
} */
.sliderRow{
    margin:0;
}
#backLink{
    display:none;
}
.statusRowTop{
    margin:0px;
    /* background-color: rgb(83, 15, 122); */
    background-color: #A34661;
    height:10px;
    float:left;
    width:0%;
}
.s2{
    height:100%;
}
h2{
    margin:1.424rem 0 1.424rem 0;
}
#startSurvey,#start,#backLink,#nextLink,#submitButton{
  width:100%;
  background-color:#A34661;
  font-size:150%;
  font-weight:bold;
}

button{
    color:#A34661;
}

#submitButton{
  position:relative;
  bottom:0;
}
.feedbackRow{
    margin-bottom: 40px;
}

.material-icons{
    color:white;
}
